body { background: #b673cf; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-logger-0 { color: #ed41ff; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #9e5144; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #b1bb6d; font-size: 17px; margin-bottom: 5px; }
.block-notify-3 { color: #f53be0; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #2a9f56; font-size: 20px; margin-bottom: 5px; }